/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
@media only screen and (max-width: 960px) {
	#portfolio-wrap .one-third {
		width:33.33%;
	}
	.home-quote {
		margin:0 10px;
	}
	.rnr-icon-middle h3 {
		font-size:24px;
	}
	.bluebtn{
		width: 10%;
	}
	.bluebtn a{
		font-size: 90%;
	}
	.bthin{
		width: 7%;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.parallax-bg, .home-parallax {
		background-attachment: scroll;
		background-position:top center !important;
		background-size: cover;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.parallax-bg, .home-parallax {
		background-attachment: scroll;
		background-position:top center !important;
		background-size: cover;
	}
}

@media only screen and (max-width: 1000px) {
	.parallax-content{
		width: 90% !important;
	}
	#footbox > .container{
		width: 90% !important;
	}
	#nav ul{
		padding-right: 5% !important;
	}
	#nav2{
		margin-right: 5% !important;
	}
	.col11{
		width: 95% !important;
	}
	h1 {
		font-size: 50px !important;
	}
	h2 {
		font-size: 34px !important;
	}
	#left{
		padding-left: 5%;
	}
	.bluecont{
		width: 90% !important;
		text-align: justify;
		-ms-text-justify: distribute-all-lines;
		text-justify: distribute-all-lines;
	}
	.bluecont:after{
		content: "";
		width: 100%;
		display: inline-block;
	}
	.bluehome{
		width: 100% !important;
		border-bottom: 2px solid #fff;
		font-size: 120%;
	}
	.bluehome:before, .bluehome:after{
		display: none;
	}
	.bluebtn, .bthin{
		display: inline-block;
	}
	.bluebtn:nth-child(2){
		padding: 0 !important;
	}
	.main-menu li, .main-menu.iconic li {
		margin-left:20px;
	}
	.main-menu a {
		font-size:18px;
	}
	.testimonial-slider .flex-direction-nav li .flex-next, .twitter-slider .flex-direction-nav li .flex-next {
		right:44%;
	}
	.testimonial-slider .flex-direction-nav li .flex-prev, .twitter-slider .flex-direction-nav li .flex-prev {
		left:44%;	
	}
	.team-member.team-two, .team-member.team-four {
		width: 50%;
	}
	.six.columns, .nine.columns{
		width: 100% !important;
		padding: 0 2% !important;
	}
	.row{
		padding: 5% 0;
	}
}

@media only screen and (max-width: 767px) {
	.page-wrap .container {
		width: 90%;
	}
	#directory ul{
		width: 44% !important;
	}
	#left{
		width: 100%;
		padding-left: 0;
	}
	#right{
		width: 100%;
		margin-top: 30px;
	}
	#nav2{
		margin-top: 5px !important;
		margin-right: 0 !important;
	}
	.light{
		width: 100%;
	}
	.light .container{
		width: 90% !important;
	}
	#logo{
		margin-left: -15px;
	}
	.team-member{
		width:100%;
		float:none;
		margin-bottom:40px;
	}
	.testimonial-icon, .twitter-feed-icon{
		display:none;
	}
	.columns li p{
		font-size: 80%;
	}
	.sixteen.columns{
		width: 100% !important;
	}
	#contact-textarea {
		width: 93%;
		float: left;
		margin: 0 1%;
	}
	#contact-submit input[type="submit"] {
		width:94%;
		margin:1%;
		float:left;
	}
	.cptop, .cpbtm{
		position: inherit !important;
		margin: 0 auto !important;
	}
	.bx-viewport{
		background-color: #303030;
	}
}

@media only screen and (max-width: 600px) {
	#mobilenav{
		display: block !important;
		background-color: steelblue;
		width: 100%;
		top: 0;
		position: fixed;
		z-index: 101;
	}
	#mobilebtn{
		height: 40px;
	}
	#mobmenu, #mobwolas{
		display: block;
		width: 50%;
		padding: 0 5%;
		-moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}
	#mobwolas{
		float: left;
	}
	#mobmenu{
		float: right;
		padding-bottom: 2px;
	}
	#mobmenu:hover, #mobwolas:hover{
		background-color: #74a3c9;
		cursor: pointer;
	}
	#mobwolas p{
		color: white;
		font-family: "BebasNeueRegular", sans-serif;
		font-size: 28px;
		display: inline;
		vertical-align: super;
	}
	#mobmenu img{
		width: 30px;
		margin: 5px 0;
		float: right;
	}
	#mobwolas img{
		width: 30px;
		margin: 5px 5px 0 0 !important;
	}
	#mobnavc{
		background-color: #518bbb;
	}
	#mobnavc ul{
		list-style-type: none;
		text-align: center;
		color: white;
		font-family: "Open Sans", sans-serif;
		font-size: 150%;
		font-weight: 500;
		text-transform: uppercase;
		padding: 10px 0;
	}
	#mobnavc li{
		display: block;
		line-height: 150%;
		border: 1px solid #74a3c9;
	}
	#mobnavc li:nth-child(n+2):nth-last-child(n+8){
		font-size: 80%;
		display: inline-block !important;
		font-weight: 400 !important;
	}
	#mobnavc a{
		color: white !important;
		padding: 5px;
	}
	#mobnavc a:hover{
		background-color: #74a3c9;
	}
	#mobnavc hr{
		margin: 10px 0;
	}
	#nav, #qlnav, #qcnav, #abnav{
		display: none;
	}
	.light .container{
		margin-top: 20px;
	}
}
 
@media only screen and (max-width: 479px) {
	#directory, #footbox hr{
		display: none;
	}
	#logo{
		width: 100%;
	}
	.home-logo-text a {
		font-size:32px;
	}
	.main-menu.large, .logo.large {
		height: 60px;
	}
	.selectnav {
		width:150px;
		background-size:30px;
		margin-top: 13px;
		font-size:24px;
		min-width:auto;
	}
	#portfolio-wrap .one-third {
		width: 100%;
	}
	.home3 .home-text-wrapper .container {
		width:280px;
		height:280px;
	}
	.home3#home h1 {
		font-size:15px;
		margin:0 20px;
	}
	#prevslide {
		left:30%;
	}
	#nextslide {
		right:30%;
	}
	a#button-newsletter {
		width: 92%;
	}
	.SubMenu li{
		min-width: 0 !important;
		margin: 5px 10px !important;
	}
}

@media only screen and (min-width: 1200px) {
	nav .container {
		width: 96%;
		display:block;
	}
	.home-logo-text a {
		font-size:90px;
	}
	.slider-text {
		width: 100%;
	}
	.parallax,  
	.parallax .parallax-content,  
	.parallax .overlay {
		height: 580px;
	}
	#project-navigation {
		width: 1040px;
		height: 40px;
		top: 50%;
		left: 0;
		margin: -20px -40px 0px;
		z-index:0;
	}
	#project-navigation ul li#prevProject a {
		float: left;
		margin-right:0;
	}
	#project-navigation ul li#nextProject a {
		float: right;
		margin-right:0;
	}
	#closeProject {
		top: 10px;
		right:-40px;
	}
	.cptop, .cpbtm{
		width: 420px !important;
	}
}
