<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en">  <!--<![endif]-->

<head>
	<!-- META DATA -->
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta charset="UTF-8">
		<title>News :: Work Skills - Nationally Accredited Training</title>
		<meta name="description" content="Nationally Accredited Training"/>
		<meta name="keywords" content="Work Skills, Training, Certificate, Diploma, Automotive Repair, Media, RTA, Hospitality, Business"/>
		<meta name="author" content="Work Skills"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$( "#sbutton" ).click(function() {
					$( "#mc_embed_signup" ).fadeToggle( "slow", "linear" );
				});
			});
		</script>
	</head>

<body style="visibility: hidden">
	<div id="header"></div>
    <!-- START PAGE WRAP -->    
    <div class="page-wrap">
	<!-- START HOME SECTION -->    
		<!-- START PARALLAX SECTION -->	
		<div id="parallax1" class="parallax" style="height:200px;">
			<div class="bgn parallax-bg"></div><!-- END PARALLAX BACKGROUND -->
			<div class="overlay"></div><!-- END PATTERN OVERLAY -->
			<div class="container clearfix">
				<div class="parallax-content" style="height:200px">
					<h1>Latest News</h1>
				</div><!-- END PARALLAX CONTENT -->
			</div><!-- END CONTAINER -->
		</div>
		<!-- END PARALLAX SECTION -->	
	<div class="container">
		<div class="row">
			<br />
			<div id="subscribe">
				<div id="mc_embed_signup">
					<form action="//workskills.us3.list-manage.com/subscribe/post?u=9cdba5128f20a521b5bd2cfae&amp;id=84d33ce85a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL"><h6 style="margin-bottom: 5px !important;">Subscribe to our newsletter</h6></label>
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_9cdba5128f20a521b5bd2cfae_84d33ce85a" tabindex="-1" value=""></div>
							<input style="margin-bottom: -5px !important; height: 40px; width: 70%; float: left;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-left: 5px; padding: 0 5px !important; float: left;">
						</div>
					</form>
				</div>
			</div>
			<br />
			<div class="stream" style="margin-top: 35px !important;">
                {{ range .Paginator.Pages }}
                    {{ if eq .Type "post"}}
                        <div class="newsitem">
                            <p class="lead" style="display: block; color: white; background-color: rgb(70, 130, 180); border-radius: 16px; margin-top: -5px; float: left; padding: 5px 10px; font-size: 100%;">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                            <h2 style="clear: both;"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                            <p>
                                {{ .Summary }}
                                {{ if .Truncated }}
                                    &nbsp;<a href="{{ .RelPermalink }}">Read More&hellip;</a>
                                {{ end }}
                            </p>
                            <hr />
                        </div>
                    {{ end }}
                {{ end }}
			</div>
            {{ partial "pagination.html" . }}
		</div>
	</div>
	<div id="back-to-top"><a href="#">Back to Top</a></div>
	<div id="footer"></div>
	<script>
			$("head").load("http://workskills.com.au/head.html");
			$("#header").load("http://workskills.com.au/header.html");
			$("#footer").load("http://workskills.com.au/footer.html");
	</script>
	<script>
		$( "#subscribe" ).click(function() {
			$( "#mc_embed_signup" ).slideToggle( "slow", function() {
			});
		});
	</script>
</body>

</html>